<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Admin</title>
</head>
    <body>
    <h1>Set Currency Rates</h1>
    <form th:action="@{/set-conversionrate}" th:object="${setConversionRate}" method='POST'>
        <p>Select From Currency:</p>
        <p>
            <select th:field="*{fromCurrency}">
                <option th:value="sek">SEK</option>
                <option th:value="eur">EUR</option>
                <option th:value="gbp">GBP</option>
                <option th:value="usd">USD</option>
            </select>
        </p>
        <p>Select To Currency:</p>
        <p>
            <select th:field="*{toCurrency}">
                <option th:value="sek">SEK</option>
                <option th:value="eur">EUR</option>
                <option th:value="gbp">GBP</option>
                <option th:value="usd">USD</option>
            </select>
        </p>
        <p class="form"><label>Insert New Rate:</label><input type="number" step="0.01" th:field="*{newRate}" id="create-amount"/>
            <span class="error" th:if="${#fields.hasErrors('newRate')}"
                  th:errors="*{newRate}">Rate Error</span>
        </p>
        <p><input name="Set New Rate" type="submit" value="submit"/></p>
    </form>
    <p class="numConv" th:object="${currentCount}"><label>Number Of Conversions Made:</label><span th:text="*{currentCount}"></span></p>
    </body>
</html>